/* poppings font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ----------------
    common styles
----------------- */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.fas{
    margin: 0 8px;
}
.btn{
    background-color: #E02C6D;
height: 44px;
padding: 10px 24px;
color: #FFFFFF;
font-size: 16px;
font-weight: 500;
border: none;
cursor: pointer;
/* display: flex;
align-items: center; */
}
.btn-nav{
    width: 123px;
}
.btn:hover{
    transform: scale(1.3);
    transition: all .3s ease;
}

/*--------------- 
    header styles
----------------- */
header{
    background-color:  #2D25A0;
    /* height: 677px; */
    padding-bottom: 50px;
}

.btn-football{
    width: 168px;
}
.football{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1164px;
    margin: 0 auto;
    align-items: center;

}
.first-football-part h1{
    font-size: 64px;
    margin: 0;
    font-weight: 700;
    color: #FFFFFF;
}
.first-football-part button{
    margin-top: 27px;
}

.second-football-part img{
    width: 556.01px;
}





/*-----------
 nav styles 
-------------*/
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent-div{
    display: flex;
    width: 1164px;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;
    margin-bottom: 50px;
}
nav a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 36px;
}

.login-icon{
    /* font-weight: 500 ; */
    font-size: 15px;
    font-weight: 700;
}


/*---------------- 
    players style 
------------------ */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 27px;
    width: 1164px;
    margin: 0 auto;
    margin-top: 70px;
    /* margin-bottom: 165px; */
    margin-bottom: 100px;
    /* overflow: hidden; */
}

.player{
    width: 330px;
    height: 474px;
    /* padding: 15px; */
    padding-bottom: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   
}
.player:hover{
    /* transform: scale(1.3); */
  
}
.player-img-div{
    text-align: center;
    padding-top: 10px;
    
}
.player img{
    width: 300px;
    height: 256px ;
   

}
.player-text{
     padding: 15px;;
     
}
.player-text h3{
    margin: 0;
}




/*------------------ 
    highlights styles
--------------------- */
.highlights{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1164px;
    margin: 0 auto;
    align-items: center;
}
.highlights-secondpart img{
    width: 567px;
    height: 427px;
}
.highlights-firstpart{
    width: 466px;
}
.highlights-firstpart h1{
    font-size: 48px;
    margin: 0;
    font-weight: 700;
}


/*----------------- 
    footer styles 
------------------- */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
footer img{
    width: 483.27px;
    /* width: 300px; */
}
footer  a{
    text-decoration: none;
    color: black;
}


/* ----------------- 
    subscribe styles 
------------------ */
.subscribe{
    text-align: center;
    padding: 5rem 1rem;
    /* background-color: #F2F2F2; */
    width: 1164px;
    margin: 0 auto;
    margin-bottom: 100px;
     box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
     /* clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%); */
     /* padding: 60px; */
}
.subscribe h3{
    font-size: 30px;
    margin: 0;
    font-weight: 700;
}
.subscribe p{
    width: 60rem;
    margin: 2rem auto;
}
.subscribe input{
    width: 800px;
}
.subscribe form input:focus{
    outline: none;
}


/*----------------
 contact Us styles 
-------------------*/
.contact-us h3{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.contact-us{
    width: 1164px;
    margin: 130px auto;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 30px;
    
}
.contact-us .first-input{
   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  
}
.contact-us input{
    margin-bottom: 2rem;
}
.contact-us input:focus{
    outline: none;
}
.contact-us textarea:focus{
    outline: none;
}
.contact-us .second-input{
    display: flex;
    flex-direction: column;
}
form input, textarea{
    padding: .5rem;
    font-size: .9rem;
}
form textarea{
    margin-bottom: 30px;
}
.button-div{
    text-align: center;
}
