/* poppings font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ----------------
    common styles
----------------- */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.fas{
    margin: 0 8px;
}
.btn{
    background-color: #E02C6D;
height: 44px;
padding: 10px 24px;
color: #FFFFFF;
font-size: 16px;
font-weight: 500;
border: none;
cursor: pointer;
/* display: flex;
align-items: center; */
}
.btn-nav{
    width: 123px;
}
.btn:hover{
    transform: scale(1.3);
    transition: all .3s ease;
}

/*--------------- 
    header styles
----------------- */
header{
    background-color:  #2D25A0;
    /* height: 677px; */
    padding-bottom: 50px;
}

.btn-football{
    width: 168px;
}
.football{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1164px;
    margin: 0 auto;
    align-items: center;

}
.first-football-part h1{
    font-size: 64px;
    margin: 0;
    font-weight: 700;
    color: #FFFFFF;
}
.first-football-part button{
    margin-top: 27px;
}

.second-football-part img{
    width: 556.01px;
}





/*-----------
 nav styles 
-------------*/
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent-div{
    display: flex;
    width: 1164px;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;
    margin-bottom: 50px;
}
nav a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 36px;
}
nav a:hover{
    color: #E02C6D;
    transition: all .3s ease;
}
nav input{
    display: none;
}
nav label{
    font-size: 2rem;
    color: white;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.login-icon{
    /* font-weight: 500 ; */
    font-size: 15px;
    font-weight: 700;
}


/*---------------- 
    players style 
------------------ */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 27px;
    width: 1164px;
    margin: 0 auto;
    margin-top: 70px;
    /* margin-bottom: 165px; */
    margin-bottom: 100px;
    /* overflow: hidden; */
}

.player{
    width: 330px;
    height: 474px;
    /* padding: 15px; */
    padding-bottom: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   
}
.player:hover{
    /* transform: scale(1.3); */
  
}
.player-img-div{
    text-align: center;
    padding-top: 10px;
    
}
.player img{
    width: 300px;
    height: 256px ;
   

}
.player-text{
     padding: 15px;;
     
}
.player-text h3{
    margin: 0;
}




/*------------------ 
    highlights styles
--------------------- */
.highlights{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1164px;
    margin: 0 auto;
    align-items: center;
}
.highlights-secondpart img{
    width: 567px;
    height: 427px;
}
.highlights-firstpart{
    width: 466px;
}
.highlights-firstpart h1{
    font-size: 48px;
    margin: 0;
    font-weight: 700;
}


/*----------------- 
    footer styles 
------------------- */
footer{
    text-align: center;
    margin-top: 28px; 
}
footer img{
    width: 483.27px;
    margin-bottom: 20px;
    /* width: 300px; */
}

.social-icon{
    background-color:  #e1e5f1;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0 14px;
    padding: 5px;
    color: #969BAB;
    text-align: center;
    display: inline-flex; 
    align-items: center;
     justify-content: center;
}
.copy-right{
    font-size: 18px;
    margin-top: 20px;
}

/* ----------------- 
    subscribe styles 
------------------ */
.subscribe{
    text-align: center;
    padding: 5rem 1rem;
    /* background-color: #F2F2F2; */
    width: 1164px;
    margin: 0 auto;
    margin-bottom: 100px;
     box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
     /* clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%); */
     /* padding: 60px; */
}
.subscribe h3{
    font-size: 30px;
    margin: 0;
    font-weight: 700;
}
.subscribe p{
    width: 60rem;
    margin: 2rem auto;
}
.subscribe input{
    width: 800px;
}
.subscribe form input:focus{
    outline: none;
}


/*----------------
 contact Us styles 
-------------------*/
.contact-us h3{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.contact-us{
    width: 1100px;
    margin: 130px auto;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 30px 80px;
    
}
.contact-us .first-input{
   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  
}
.contact-us input{
    margin-bottom: 2rem;
}
.contact-us input:focus{
    outline: none;
}
.contact-us textarea:focus{
    outline: none;
}
.contact-us .second-input{
    display: flex;
    flex-direction: column;
}
form input, textarea{
    padding: .5rem;
    font-size: .9rem;
}
form textarea{
    margin-bottom: 30px;
}
.button-div{
    text-align: center;
}


/*---------------- 
    Media Queries 
------------------ */

/* Mobile devices  */
@media only screen and (max-width: 688px) {
   
    .parent-div{
        width: 100%;
    }
    .football{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
        width: 50%;
        margin: 0 20px;
    }
    .first-football-part h1{
        font-size: 36px;
    }
    .second-football-part img {
        width: 329px;
        height: 259.17px;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 24px;
    }
    .player{
       margin-left: 23px;
    }
    .subscribe{
        width: 90%;
    }
    .subscribe p{
        width: 100%;
    }
    .subscribe input{
        width: 50%;
    }
    .highlights{
        grid-template-columns: repeat(1, 1fr);
    }
    .highlights-secondpart img{
        width: 328px;
        height: 248px;
        margin-top: 29px;
        margin-left: 18px;
    }
    .highlights-firstpart{
        width: 329px;
        margin-left: 18px;

        /* height: 299px; */
    }
    .highlights-firstpart h1{
        /* width: 292px; */
        font-size: 30px;
        font-weight: 700;
    }
    .highlights-firstpart p{
        font-size: 16px;
        width: 329px;
    }
    .contact-us{
        width: 329px;
        padding: 10px ;
        margin-bottom: 100px ;
        /* margin: 80px 0; */
    }
    .contact-us form{
        width: 320px;
    }
    .contact-us .first-input{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }
    footer{
        margin-bottom: 100px;
    }
    footer img{
        width: 250px;
    }

    /* nav bar  */

    /* nav .parent-div{
        position: relative;
    }
    nav .parent-div .part-1 a{
        display: block;
        margin: 1rem 0;
    }
    nav .parent-div .part-1{
        display: flex;
        flex-direction: column;
    }
    nav .part-2 a{
        position: absolute;
        top: 0 ;
        left: 150px;
    }
    nav label{
        visibility: visible;
        opacity: 1;
    }
    nav .part-1{
        transform: scaleY(0);
        opacity: 0;
    }
    nav input:checked ~ .part-1{
        transform: scaleY(1);
        opacity: 1;
    } */
}