/* poppings font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ----------------
    common styles
----------------- */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.fas{
    margin: 0 8px;
}

/*--------------- 
    header styles
----------------- */
header{
    background-color:  #2D25A0;
    /* height: 677px; */
    padding-bottom: 50px;
}

.btn-football{
    width: 168px;
}
.football{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1164px;
    margin: 0 auto;
    align-items: center;

}
.first-football-part h1{
    font-size: 64px;
    margin: 0;
    font-weight: 700;
    color: #FFFFFF;
}
.first-football-part button{
    margin-top: 27px;
}

.second-football-part img{
    width: 556.01px;
}





/*-----------
 nav styles 
-------------*/
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent-div{
    display: flex;
    width: 1164px;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;
    margin-bottom: 50px;
}
nav a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 36px;
}
.btn{
    background-color: #E02C6D;
height: 44px;
padding: 10px 24px;
color: #FFFFFF;
font-size: 16px;
font-weight: 500;
border: none;
cursor: pointer;
/* text-align: center; */
display: flex;
align-items: center;
}
.btn-nav{
    width: 123px;
}
.btn:hover{
    transform: scale(1.3);
    transition: all .3s ease;
}
.login-icon{
    /* font-weight: 500 ; */
    font-size: 15px;
    font-weight: 700;
}


